{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/view.css' %}">
    <title>Edit List Item</title>
</head>
<body>
<div class="container">
    <form method="post" action="{% url 'save_list_edit' list_id=item.list_id %}">
        {% csrf_token %}
        <input type="text" name="productname" value="{{ item.productname }}" required><br>
        <input type="text" name="category" value="{{ item.category }}" required><br>
        <input type="number" name="quantity" value="{{ item.quantity }}" required><br>
        <input type="number" name="price" value="{{ item.price }}" required><br>
        <textarea name="description" required>{{ item.description }}</textarea><br>
        <div class="center">
            <input type="submit" value="Update">
        </div>
    </form>
</div>
</body>
</html>
