{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/view.css' %}">
    <title>Edit Cart</title>
</head>
<body>
<div class="container">
    <div class="containerpageupdateform">
        <h1>Update cart</h1>
    
        <form method="post" action="{% url 'update_meth_cart' cart_id=cart.cart_id %}">
            {% csrf_token %}
            <input type="text" name="txtCartName" value="{{ cart.cartname }}" required>
            <input type="text" name="txtCartStore" value="{{ cart.store_wheretobuy }}" required>
            <input type="date" name="txtDate" value="{{ cart.date_for_notification|date:'Y-m-d' }}" required>
            
            <input type="submit" value="Update">
        </form>
        
        
        
    </div>
</div>
</body>
</html>
